// Colors.
$site-blue-color: #6182b6;
$site-light-blue-color: #6182b6;
$site-green-color: #689e39;
$active-link-color: #1d0084;

// Fonts.
$font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
